<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="se" xml:lang="se">
    <head>
        <title>Not found</title>
        <link rel="stylesheet" title="Default" href="static/style.css" type="text/css" />
        <script type="text/javascript" src="static/jquery.js"></script>
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
    </head>

    <body>
        <div id="page">
            <div id="pageheader">
                <h1>Not found</h1>
                <hr />
            </div>

            <p>
                The page you are looking for was not found.
            </p>
        </div>
    </body>
</html>
